<template name="Home">
  <div class="col-lg-12">
    <div class="bs-component">
      <div class="jumbotron">
        <h1>Hello World!</h1>
        <p>41studioCast teaches web technologies in the comfort of your browser with video lessons and screencasts.</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="bs-component">
          <blockquote>
            <p>It is only as we develop others that we permanently succeed..</p>
            <small>Harvey S. Firestone</small>
          </blockquote>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
      </div>
      <div class="col-lg-6">
        <div class="bs-component">
          <blockquote class="pull-right">
            <p>Life will good when we share.</p>
            <small>Someone famous in <cite title="Source Title">41studio slack channel</cite></small>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</template>
